* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.lineas{
    align-items: center;
    margin-bottom: 25px;
    color: lightgrey;
}

.titulo {
    font-size: 2rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 20px;
    max-width: 600px;
}

.articulo {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-bottom: 40px;
    width: 100%;
}

.articulo img {
    width: 140px;
    border-radius: 12px;
}

.contenido {
    display: flex;
    flex-direction: column;
}

.contenido h2 {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.date {
    font-size: 0.9rem;
    color: gray;
}

@media (max-width: 600px) {
    .articulo {
        flex-direction: column;
        text-align: center;
    }

    .articulo img {
        width: 100%;
        max-width: 300px;
    }
    
}
.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}
